.content-section-a {
  padding: 50px 0;
  background: url('../img/03215_goodmorningyosemite_1920x1080.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 855px;
}

.about-description {
  margin-top: 2%;
  background-color: grey;
  background: rgba(140, 140, 140, 0.7) ; 
  border-radius: 5px; 
  /* width: 600px; */
}

.bg-overlay2 {
  margin-top: -50px;
  background: rgba(255, 255, 255, 0.2);
  height: 855px;
}

/*text*/
.about-me .section-heading {
  font-size: 40px;
}

.content-section-a p {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.content-section-a p a {
  color: silver;
  font-weight: bold;
}

/*profile picture*/
.img-circle {
  margin-top: 150px;
  border: 1px outset rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  width: 200px;
}

.lead {
  font-size: 18px;
  font-weight: 400;
}