.about-me {
  padding: 50px 0;
  background-color: #eee;
  padding-right: 20px;
  /* height: 800px; */
}

.about-me h1 {
  padding-bottom: 20px;
  padding-left: 10px;
  text-align: left;
  margin-left: 30px;
}

/* .about-font {
  text-align: left;
  margin-left: 30px;  
} */

.about-word {
  display: inline-block;
  font-size: 70%;
  padding-left: 20px;
}

.about-row {
  margin-top: 0;
  text-align: center;
  font-size: 3em;
  color: black;
}

/*profile picture*/
.img-circle {
  /* margin-top: 10px; */
  position: relative;
  /* border: 1px outset rgba(255, 255, 255, 0.3); */
  border: 2px outset black;
  
  /* box-shadow: 1px 1px 1px rgba(0,0,0,0.6); */
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid black; */
}

.lead {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin-left: 20px;
}

/* Grid */
.column {
  flex-basis: 200%;
}

@media screen and (min-width: 800px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .column {
    flex: 1;
  }
  ._25 {
    flex: 2.5;
  }
  ._5 {
    flex: 5;
  }
}

/* Style */

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  color: #ccc;
  /* background: #000; */
  margin-bottom: 70px;
}

.column {
  /* position: relative; */
  /* padding: 15px; */
  /* border: 1px solid #666; */
  margin: 5px 0;
  /* background: #343436; */
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
}