/* contact */
.banner {
  padding: 100px 0;
  background: url('../img/20160509_121659.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 755px;
}

.bg-overlay4 {
  margin-top: -100px;
  padding: 100px 0;
  /* background: rgba(0,0,0, 0.3); */
  background: rgba(255,255,255, 0.3);  
  height: 755px;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
      float: left;
      margin-top: 15px;
  }
}

  ul.banner-social-buttons > li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
  }

  ul.banner-social-buttons > li:last-child {
      margin-bottom: 0;
  }

h2.connect {
 margin: 0;
 color: rgba(0, 0, 0, 0.9);
}